/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
    color: #666;
}
/* Estilizando a lista de poderes */
ul {
    padding-left: 20px;
}

ul li {
    list-style-type: disc;
    margin-left: 10px;
}
