body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#lista-tarefas {
    list-style-type: none;
    padding: 0;
}

#lista-tarefas li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editar, .remover {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
}
